
html{
    scroll-behavior: smooth;
}

h1{
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
}

h2{
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
}

h3{
    font-family: 'Fira Sans', sans-serif;
}


body {
    margin: 0px; /* Dit zorgt ervoor dat er geen overbodige margin in de body zit. 
                     Dit zorgt er soms voor dat de content net niet volledig past*/

    background-color: rgba(211, 185, 185, 0.849);
}
/*telefoon en tablet versie*/
#dashboard {
    transition: all 350ms ease-in;
    height: 97vh; /*staat niet op 100 omdat er dan soms een schuifbalk verschijnt wat niet mooi past op de dashboard*/
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 10px;
    grid-template-areas: "header       header"
                         "verbruik     verbruik"
                         "verbruik     verbruik"
                         "berekenaar   theme"
                         "berekenaar   theme"
                         "berekenaar   weer"
                         "berekenaar   weer"
                         "controlpanel weer"
                         "controlpanel weer";
}

/* de items en andere elementen in de grid */
/*  de Grid items  */
.item {
    background-color:  #FFFFFF;
    border: 2px solid rgb(111, 110, 110);
    border-radius: 10px;
    padding: 20px;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
    background-color: rgb(77, 115, 146);
    grid-area: header;
}

/* Op bepaalde qeury's word de header te groot door de logo */
#logoLB {
    display: grid;
    grid-area: header;
    max-width: 100%;
    height: 100%;
    padding: 0px;
}

#tekstgrafiek {
    margin-left: 40px;
}

.verbruik {
    grid-area: verbruik;
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(77, 115, 146);;
    border-bottom: none;
    border-left: none;
    border-width: 5px;

}

.knopverbruik {
    cursor: pointer;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.945);
}

/* grafiek met verbruik (moet nog aan gewerkt worden) */
#grafiek {
    grid-area: verbruik;
}

input {
    width: 100%;
    cursor: pointer;
}

.input:hover {
    cursor: pointer;
    width: 100%;
}



#kostenP {
    align-items: center;
}

/* Hier ben ik mee bezig niks mee doen aub*/
.berekenaar {
    grid-area: berekenaar;
    display: grid;
    justify-content: center;
    padding-top: 50px;
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(77, 115, 146);;
    border-bottom: none;
    border-left: none;
    border-width: 5px;

}


/* Dit is de stroomkosten berekenaar */
.Kosten {
    grid-area: berekenaar;
    height: auto;
}

.weer {
    grid-area: weer;
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(77, 115, 146);;
    border-bottom: none;
    border-left: none;
    border-width: 5px;
}

.berekenaar {
    display: flex;
}


/* dit is het weer */
#weerpositie {
    grid-area: weer;
    height: auto;
}

#fotoairco {
    margin-right: 20px;
    margin-top: 50px;
}

#floatright{
    margin-right: 20px;
}

.textweer {
    display: grid;
    align-items: center;
    justify-content: center;
}


.theme {
    grid-area: theme;

    border-radius: 25px;
    border-style: solid;
    border-color: rgb(77, 115, 146);;
    border-bottom: none;
    border-left: none;
    border-width: 5px;


}

.controlpanel {
    grid-area: controlpanel;

    border-radius: 25px;
    border-style: solid;
    border-color: rgb(77, 115, 146);;
    border-bottom: none;
    border-left: none;
    border-width: 5px;

}

.tijdcard {
    justify-content: space-between;
    padding: 60px;
    
}

/* Verschillende media querys om het dashboard op zoveel mogelijk apparaten te laten functioneren*/

/* extra versie voor telefoon */

@media screen and (max-width: 740px) {
    #dashboard {
        background-color: rgb(170, 170, 170);
        transition: all 350ms ease-in;
        height: 98vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 20px;
        grid-template-areas: "header        header"
                             "verbruik      verbruik "
                             "weer          weer"
                             "controlpanel  controlpanel"
                             "berekenaar    berekenaar"
                             "theme         theme";
    }

    .item {
        background-color:  #FFFFFF;
        border: 2px solid rgb(111, 110, 110);
        border-radius: 10px;
        padding: 20px;  
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .header {
        background-color: rgb(77, 115, 146);
        grid-area: header;
        height: 100px;
    }

    #logoLB {
        display: grid;
        grid-area: header;
        max-width: 100%;
        height: 100%;
        padding: 0px;
    
    }
    #fotoairco {
        height: 50%;
        max-width: auto;
    }

}

/*Desktop versie layout*/

@media screen and (min-width: 935px) {
    body{
        margin: 0px;
    }

    #dashboard {

        transition: all 350ms ease-in;
        height: 99vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 20px;
        grid-template-areas: "header       header   header"
                             "verbruik     verbruik controlpanel"
                             "verbruik     verbruik controlpanel"
                             "berekenaar   weer     controlpanel"
                             "berekenaar   weer     theme" ;
    }

    body {
        margin: 4px;
        margin-bottom: 0px;
    }

    #weerpositie {
        grid-area: weer;
        display: grid;
        align-items: center;
        width: 600px;
        height: 300px;

    }

    .textweer {
        display: grid;
        align-items: center;
        justify-content: center;
    }
    
    
}

/*layout voor apparaten met hoog scherm zoals de ipad pro*/
@media screen and ( max-width: 1100px ) and ( min-height: 900px ) {
    #dashboard {
        transition: all 350ms ease-in;
        height: 98vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 20px;
        grid-template-areas: "header       header          header"
                             "verbruik     verbruik        controlpanel"
                             "verbruik     verbruik        controlpanel"
                             "berekenaar   berekenaar      controlpanel"
                             "weer         weer            theme" ;
    }

    .item {
        background-color:  #FFFFFF;
        border: 2px solid rgb(111, 110, 110);
        border-radius: 10px;
        padding: 20px;  
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    body {
        margin: 0px;
    }

    .textweer {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .header {
        background-color: rgb(77, 115, 146);
        grid-area: header;
        height: 150px;
    }

    #logoLB {
        display: grid;
        grid-area: header;
        max-width: 100%;
        height: 100%;
        padding: 0px;
    
    }
}

/*layout voor apparaten met niet brede schermen*/
@media screen and ( max-width: 350px ) and ( max-height: 550px ){
    #dashboard {
        transition: all 350ms ease-in;
        height: 98vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 20px;
        grid-template-areas: "header          header"
                             "verbruik        verbruik"
                             "controlpanel    controlpanel"
                             "berekenaar      berekenaar"
                             "weer            weer"
                             "theme           theme" ;
    }
    
    .item {
        background-color:  #FFFFFF;
        border: 2px solid rgb(111, 110, 110);
        border-radius: 10px;
        padding: 20px;  
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    body {
        margin: 0px;
    }

    .textweer {
        display: grid;
        align-items: center;
        justify-content: center;
    }
}
